body,
h1,
h2,
h3,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  color: #333;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 20px;
}

.employee-directory {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.employee-directory h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.search-container {
  display: flex;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.search-input-field {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input-field:focus {
  outline: none;
  border-color: #007bff;
}

.table-container {
  overflow-x: auto;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #918c8c;
}

.employee-table th,
.employee-table td {
  padding: 12px 16px;
  border-bottom: 1px solid #918c8c;
  text-align: left;
}

.employee-table th {
  background-color: #95c3f5;
  font-weight: bold;
  color: #555;
}

.employee-table tr {
  border-bottom: 1px solid #6ca1d6;
}

.employee-table tr:hover {
  background-color: #dbdee0;
  cursor: pointer;
}

.createButton {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 600px;
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}


.modalTitle {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.modalContent {
  max-height: 70vh;
  overflow-y: auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.submitButton {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.closeButton {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #6c757d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

.employee-filter {
  display: inline-block;
  margin-left: 10px;
}

.filter-dropdown {
  padding: 5px;
  font-size: 16px;
}

.employee-details {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.employee-details h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

.employee-details p {
  margin-bottom: 10px;
}

.employee-details p strong {
  color: #555;
}
